
a {
    font-family: serif;
    text-decoration: underline;
    font-weight: none;
    }
a:link {
    color: blue;
}
a:visited {
    color:orange;
    }
a:hover{
    font-weight: bold;}
a:active{
    text-decoration: none;}

@font-face {
    font-family:cursive;
    font-style:normal;
    font-weight:400;
}

html {
    background-color: darkseagreen
}
#header {
    background-color:burlywood;
    border: brown dashed 8px;
}

#footer{
    background-color: burlywood;
    align-content: center;
    border: brown dashed 8px; 
}
#intro{
    align-content: center;
    font-family: cursive
}
h1 {
    font-family: cursive;
    font-weight: 500;
    font-size: 50px;
}
h3{
    font-family: cursive;
    font-weight:500
    font-size: 25px;
}
h5{
    font-family: cursive;
        
}
h4{
    font-family: serif;
    color: purple;
}
form {
    font-weight: 500
}